div(id='rms-modal-header-more', class='modal fade rms-modal-header-more', role='dialog')
	div(class='rms-modal-header-more-dialog')
		div(class='rms-modal-header-more-content')
			div(class='btn-group-vertical')
				a(href='#' class="rms-btn clearfix")
					span(class='pull-left') 通知設定（PCページ）
						i(class='pull-right rms-icon-chevron-right')