doctype html
html
  head
    meta(charset="UTF-8")
    title Webpack App
    link(href="../css/style.css" rel="stylesheet")
  body
    h1 Hello
    img(src=require("../img/sample.jpg"))
    include ./include